body{
  box-sizing: border-box;
 
}
*,*:before,*:after{
box-sizing:inherit;
margin:0px;
padding:0px;
}
 header{
  background:rgb(58, 133, 126);
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items: center;
}
header h2{
font-weight:10px;
}
nav ul{
display:flex;
justify-content: space-evenly;
padding:5px;
/* padding-left:10px;
padding-right:10px; */
list-style: none;
min-width:500px;
flex-shrink: 1;
padding-bottom:7px;
}
nav li{
  margin-left:20px;
 
 font-weight: bold;
 cursor:pointer;

}
nav li:hover{
  border-bottom:4px solid white;
}
button{
  background:none;
  border:3px solid rgb(173, 54, 11);
  padding:7px;
  padding-left:20px;
  padding-right:20px;
  cursor:pointer;
  border-radius:2rem;
}
button:hover{
  background:rgb(173, 54, 11);
  color:white;
}
.services{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:5px;
  padding-top:30px;
}

.service{
 
  display:flex;
 
  flex-direction:column;
  align-items:center;
  
  /* align-content:center; */
  padding:20px;
  /* max-height:300px; */
}
.service > *,.document > *{
margin-top:20px;
} 

.service h3{
  color:rgb(173, 54, 11);
}
.file_icon{
  width: 200px;
  height:150px;
}
.connect-to-metamask-top{
  background:#B0DBCB;
  border:1px solid #B0DBCB;
  color:white;
 font-size:15px;
 font-style: bold;
}
.address{
  background:white;
  border:1px solid white;
  padding:10px;
  border-radius:2rem;
  color:rgb(173, 54, 11);
}
.connect-to-metamask-bottom{
  background:rgb(58, 133, 126);
  border:1px solid rgb(58, 133, 126);
  color:white;
  font-size:15px;
  font-style:bold;
}
.document{
  display:flex;
  justify-content: center;
  padding-top:5px;
}
form > *{
  margin-top:10px;
  width:700px;
  max-width:80%;
}
form input{
  display:none;
}
.select-file{
  display:flex;
  justify-content:center;
  align-content: center;
  border:2px dotted #444;
  border-style:2rem;
  padding:10px;
  padding-left:20px;
  padding-right:20px;
  background:#f8f8f8;
  color:#444;
 cursor:pointer;
 font-style:bold;
 font-weight:20px;
}
.button-flex-end{
  display:flex;
  justify-content:flex-end;
}
.notorize textarea{
  resize:none;
  height:200px;
  background:#f8f8f8;
  padding:10px;
}
.active-link{
  border-bottom:4px solid white;
}
.link,.link:active,.link:visited{
  text-decoration: none;
  color:white;
}
.notfound{
  display:flex;
  flex-direction:colomn;

}
.upload-button-container h4{
color:rgb(173, 54, 11);
padding:10px;
text-align:center;
}
footer{
  /* background:#B0DBCB; */
  background:white;
  border-top:4px solid #eee;
  padding:15px;
  position:fixed;
  width:100%;
  bottom:0px;
  color:rgb(173, 54, 11);
  display:flex;
  justify-content:center;
  align-items:center;

}
footer > *{
  margin-left:20px;
}
footer a{
  color:black;
  border-bottom:2px solid black;
}